<footer class="footer-update">
    <div class="row">
        <div class="tagline">
            {{ settings.website_tagline }}
        </div>
        <div class="link">
            {{ 'bighouse for brands' |  link_to: 'https://docsend.com/view/gm6jrtykdc6kbw7k' }}
        </div>
        <div class="socials">
            {% if settings.bh_instagram != empty %}
                <a href="{{ settings.bh_instagram }}" title="Instagram">Instagram</a>
            {% endif %}
        </div>
        <div class="newsletter">
            {% render 'newsletter-signup', is_home: false %}
        </div>
    </div>
</footer>