<a href="{{ routes.cart_url }}" data-ajax-cart-toggle-class-button="js-my-cart-open">
    Cart
      <span data-ajax-cart-bind-state="cart.item_count">
        {{ cart.item_count }}
      </span>
      <span data-ajax-cart-bind-state="cart.total_price | money_with_currency">
        {{ cart.total_price | money_with_currency }}
      </span>
  </a>