<div class="navbar-home">

    <span class="open-navbar-overlay">
        {% render 'icon--cross' %}
    </span>

    <div class="navbar-overlay">
        <div class="wrap">
            <ul>
                <li><a href="">Bighouse For Brands <span class="arrow">&rarr;</span></a></li>
                <li><a href="">store <span class="arrow">&rarr;</span></a></li>
            </ul>
            <div class="contact">
                <a href="mailto:connect@thisbighouse.xyz" title="Email">connect@thisbighouse.xyz</a>
                <a href="https://www.instagram.com/bighousedot" title="Social">@bighousedot</a>
            </div>
        </div>
        <span class="close-navbar-overlay">close</span>
    </div>

</div>