<div class="navbar-home">

    <span class="open-navbar-overlay">
        <svg enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect fill="none" height="50" width="50"/><line fill="none" stroke-miterlimit="10" stroke-width="4" x1="9" x2="41" y1="25" y2="25"/><line fill="none" stroke-miterlimit="10" stroke-width="4" x1="25" x2="25" y1="9" y2="41"/></svg>
    </span>

    <div class="navbar-overlay">
        <div class="wrap">
            <ul>
                <li><a href="">Bighouse For Brands <span class="arrow">&rarr;</span></a></li>
                <li><a href="">store <span class="arrow">&rarr;</span></a></li>
            </ul>
            <div class="contact">
                <a href="mailto:connect@thisbighouse.xyz" title="Email">connect@thisbighouse.xyz</a>
                <a href="https://www.instagram.com/bighousedot" title="Social">@bighousedot</a>
            </div>
        </div>
        <span class="close-navbar-overlay">close</span>
    </div>

</div>