<div id="preloader" class="preloader-overlay">
    <div class="logo">

        <div class="outline-logo">
            {% render 'big-logo-outline' %}
        </div>

        <div class="filled-logo">
            {% render 'big-logo' %}
        </div>
        
    </div>
</div>