{{ 'component--about.css' | asset_url | stylesheet_tag }}

<div class="wrap">

    <div class="left">
        <h2>{{ section.settings.about_heading }}</h2>
    </div>

    <div class="right">
        <p>{{ section.settings.about_body }}</p>
    </div>

</div>


{% schema %}
    {
      "name": "About",
      "tag": "section",
      "class": "about",
      "settings": [
        {
            "type": "text",
            "id": "about_heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "about_body",
            "label": "Body"
        }
      ]
    }
{% endschema %}
    