<div class="row">



</div>

{% schema %}
    {
      "name": "Hero",
      "tag": "section",
      "class": "hero",
      "settings": [
        {
            "type": "video",
            "id": "hero_video_desktop",
            "label": "Desktop Resolution"
        },
        {
            "type": "video",
            "id": "hero_video_mobile",
            "label": "Mobile Resolution"
        }
      ]
    }
{% endschema %}
    