{{ 'component--hero.css' | asset_url | stylesheet_tag }}

<div class="wrap">

    <div class="desktop">
        
        {{ section.settings.hero_video_desktop | video_tag: autoplay: false, loop: true | replace: '<video', '<video id="desktop-video" ' }}
        
        {% render 'big-logo-outline' %}

        <div class="scroll-arrow">
            <a href="#clients-section">{% render 'icon--arrow-down' %}</a>
        </div>

    </div>

    <div class="mobile">

        {{ section.settings.hero_video_mobile | video_tag: autoplay: false, loop: true | replace: '<video', '<video id="mobile-video" ' }}
        
        {% render 'big-logo-outline' %}

        <div class="scroll-arrow">
            <a href="#clients-section">{% render 'icon--arrow-down' %}</a>
        </div>

    </div>

</div>




{% schema %}
    {
      "name": "Hero",
      "tag": "section",
      "class": "hero",
      "settings": [
        {
            "type": "video",
            "id": "hero_video_desktop",
            "label": "Desktop Resolution"
        },
        {
            "type": "video",
            "id": "hero_video_mobile",
            "label": "Mobile Resolution"
        }
      ]
    }
{% endschema %}
    