<div class="row">



</div>

{% schema %}
    {
      "name": "Hero",
      "tag": "section",
      "class": "hero",
      "settings": [
        {
            "type": "video",
            "id": "video",
            "label": "A Shopify-hosted video"
        }
      ]
    }
{% endschema %}
    