.cart-drawer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    max-width: 75vw;
    border: var(--border-black);
    background: var(--white);
    color: var(--black);
    z-index: 9;
    display: grid;
    grid-template-rows: auto 1fr;

    .cart-items {
        height: 100%;
        overflow-y: scroll;
    }
    
    /* Works on Chrome, Edge, and Safari */
    .cart-items::-webkit-scrollbar {
        width: 4px;
    }
    
    .cart-items::-webkit-scrollbar-track {
        background: transparent;
    }
    
    .cart-items::-webkit-scrollbar-thumb {
        background-color: var(--black);
        border-radius: 20px;
    }

    form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto 1fr;
        height: 100dvh;

        .drawer-header {
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 13px;
            text-transform: uppercase;
            padding: 10px;
    
            .close-drawer {
                cursor: pointer;
            }
    
            span {
                font-size: 26px;
            }
        }

        /* Empty */
        .drawer-empty {
            padding: 0 10px;
            height: 100%;
            display: flex;
            align-items: center;
        }

        /* Items */
        ul.drawer-has-items {
            padding: 10px 6px 10px 10px;
            display: flex;
            flex-direction: column;
            gap: 4px;

            // cart card in own file
        }

        .totals {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            justify-content: flex-end;
            gap: 8px;
            padding: 10px 10px 20px 10px;
            // position: absolute;
            // bottom: 0;
            // right: 0;
            // left: 0;
            background: var(--white);

            .totals-item {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .total,
            .tax,
            .subtotal {
                padding: 10px;
                border: var(--border-black);
                font-size: 12px;
            }

            .go-to-checkout {
                padding: 10px 0 20px 0;

                button {
                    width: 100%;
                    border: var(--border-black);
                    border-radius: 50px;
                    background: var(--black);
                    color: var(--white);
                    padding: 10px;
                    cursor: pointer;
                    font-family: var(--sans-serif);
                    font-weight: 400;
                    display: block;
                }

                button:hover {
                    background: var(--white);
                    color: var(--black);
                }
            }
        }
    }
    
}

/*
----------------------------------------------------------------
*/
@media screen and (max-width: 767px) {
    .cart-drawer {
        width: 100%;
        max-width: 100%;
    }
}