section.hero {

    .wrap {
        position: relative;
    }

    video {
        width: 100%;
        display: block;
    }
    
    .desktop {
        display: block;
        position: relative;

        .scroll-arrow {
            position: absolute;
            bottom: 30px;
            right: 30px;
            cursor: pointer;
    
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }

    .mobile {
        display: none;
        position: relative;
    }

    #big-logo-outline {
        //stroke: var(--white);
        //stroke-width: 3px;
        fill: var(--white);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        overflow: visible;
    }

}

@media screen and (max-width: 767px) {
    
    section.hero {
        overflow: hidden;

        .desktop { display: none; }
        .mobile { display: block; }

        video {
            //height: 100svh !important;
            //min-width: 100vw;
        }
    }

}