section.clients {
    border-bottom: var(--big-border);

    .right {
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        //grid-gap: 30px;
    }

    h2 {
        white-space: wrap;
    }

    p {
        margin: 0 0 0px 0;
    }

}