{{ 'collection--default.css' | asset_url | stylesheet_tag }}

<style>
  .collection-page {
    
  }

  .collection-page .product-card {
      display: grid;
      grid-template-rows: 1fr auto;
      cursor: pointer;
      width: 100%;
      outline: 1px solid var(--black);
  }

  .collection-page .product-card .image {
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 4/5;
  }
  
  .collection-page .product-card img {
      object-fit: cover;
      object-position: center center;
      height: 100%;
      min-width: 100%;
  }
  
  .collection-page .product-card .image:hover {
      opacity: 0.8;
  }

  .collection-page .product-card .data {
      /*margin-right: 1px;*/
      background: var(--white);
      color: var(--black);
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 8px 10px;
      font-size: 18px;
      border-top: 1px solid var(--black);
  }
  
  .collection-page .product-card .data a {
      font-size: 18px;
  }
  
  .collection-page .product-card:hover .title a {
      text-decoration: underline;
  }
  
  .collection-page .product-card .type a {
      opacity: 0.7;
  }
  .collection-page .product-card .price {
      opacity: 0.7;
  }
  
  /* .collection-page .product-card:nth-of-type(1) {
      border-left: 0;
  }
  // second row
  .collection-page .product-card:nth-of-type(1n + 4) {
      border-left: 0;
  } */

  /*
  ----------------------------------------------------------------
  */
  @media screen and (max-width: 1024px) {
      .collection-page .product-card .data {
        font-size: 16px;
      }

      .collection-page .product-card a {
        font-size: 16px;
      }
  }
  @media screen and (max-width: 767px) {
  
      .collection-page .product-card {
          aspect-ratio: 4/5;
      }

      .collection-page .product-card .data {
          margin-right: 0px;
          font-size: 15px;
      }
       
      .collection-page .product-card .data a {
          font-size: 15px;
      }
  
  }
</style>

<div class="collection-page">
  {% paginate collection.products by 6 %}

    <ul class="products-grid">
      {% for product in collection.products %}
        {% render 'product-card' product: product %}
      {% else %}
        <li>{{ 'no products found' | escape }}</li>
      {% endfor %}
    </ul>
  
  
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}
  
  {% endpaginate %}
</div>

{% comment %}
  JavaScript for collection sorting.
{% endcomment %}
<script>
jQuery('.sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by }}')
  .on('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>