{% paginate collection.products by 20 %}

  <ul>
    {% for product in collection.products %}
      {% render 'product-card' %}
    {% else %}
      <li>{{ 'no products found' | escape }}</li>
    {% endfor %}
  </ul>


  {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
  {% endif %}

{% endpaginate %}

{% comment %}
  JavaScript for collection sorting.
{% endcomment %}
<script>
jQuery('.sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by }}')
  .on('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>