
<style>
  .navbar {
    background-color: var(--black);

    svg {
      fill: var(--white);
    }
  }

  body {
    background-color: var(--black);
    color: var(--white);
  }
</style>

<div class="homepage">
  {% section 'hero' %}
  {% section 'about' %}
  {% section 'clients' %}
</div>




{% comment %}  
<ul class="products-grid">

  {% for product in collections.frontpage.products %}
    {% render 'product-card' product: product %}
  {% endfor %}

</ul>
{% endcomment %}