footer {
    font-size: 1rem;
    
    .footer-wrapper {
        padding: 20px var(--side-padding) 15px var(--side-padding);

        .top-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            align-items: flex-end;
            font-size: 12px;

            .left {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: flex-end;
                    gap: 12px;
    
                    a {
                        text-transform: lowercase;
                    }
    
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }



            .newsletter {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                form {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 10px;
                    width: 100%;

                    input[type="email"] {
                        width: 100%;
                        max-width: 220px;
                        border: var(--border-black);
                        background: transparent;
                        padding: 0px 6px;
                        font-size: 12px;
                        border-radius: 0px;
                        font-family: var(--sans-serif);
                        font-weight: 400;
                        color: var(--black);
                    }
    
                    input[type="submit"] {
                        height: 100%;
                        border: var(--border-black);
                        background: transparent;
                        padding: 4px 25px;
                        font-size: 12px;
                        cursor: pointer;
                        border-radius: 0px;
                        font-family: var(--sans-serif);
                        color: var(--black);
                        font-weight: 400;
                    }  

                    input[type="submit"]:hover {
                        background: var(--black);
                        color: var(--white);
                    }

                }
            }
        }

        .bottom-row {
            padding-top: 20px;

            img {
                width: 100%;
            }
        }
    }
}

/*
----------------------------------------------------------------
*/
@media screen and (max-width: 767px) {
    footer {
        .footer-wrapper {

            .top-row {
                display: flex;
                flex-direction: column-reverse;

                .newsletter {
                    width: 100%;

                    form {
                        input[type="email"] {
                            max-width: 100%;
                        }
                    }
                }
            }


        }
    }
}