@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --white: #fff;
    --black: #000;

    --side-padding: 30px;
    --border-black: 1px solid var(--black);
    --border-white: 1px solid var(--white);
    --big-border: 8px solid var(--white);

    --sans-serif: Helvetica, Arial, sans-serif;
    --heading: 'Druk', sans-serif;
    --body: 'ABC', sans-serif;
}

@media screen and (max-width: 767px) {

    :root {
        --side-padding: 14px; 
        --border-black: 2px solid var(--black);
        --border-white: 2px solid var(--white);
    }
       
}

@import './reset.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: var(--body);
    font-size: 14px;
    letter-spacing: 0.1px;
    font-weight: 400;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--body);
}

a {
    text-decoration: none; 
    color: inherit;
    font-family: var(--body);
}

a:hover {
    text-decoration: underline;
}

button,
input {
    border-radius: 0px;
    font-family: var(--body);
    -webkit-font-smoothing: antialiased;
}

/* Buttons */
.button {
    background: transparent;
    border: var(--border-black);
    border-radius: 0px;
    color: var(--black);
    cursor: pointer;
    font-family: var(--body);
}

.button:hover {
    background: var(--black);
    color: var(--white); 
}

@import './preloader.scss';
@import './navbar--home.scss';
@import './navbar.scss';
@import './sections.scss';
@import './footer.scss';

/* Utils */
@import './utils/ajax-cart.scss';