.navbar {
    .navbar-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 12px var(--side-padding);
        .site-logo {
            img {
                width: 100%;
                max-width: 132px;
            }
        }

        .cart-icon a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
            text-decoration: none;

            img {
                width: 100%;
                max-width: 24px;
            }

            .counter {
                font-size: 1rem;
            }
            
        }
        .cart-icon a:hover {
            text-decoration: underline;
        }
    }
}