.navbar-home {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    .open-navbar-overlay {
        font-size: 52px;
        line-height: 1;
        display: block;
        cursor: pointer;  
        margin: 30px 0 0 30px; 
    }

    svg {
        width: 40px;
        height: 40px;

        line {
            stroke: var(--white);
        }
    }

    .navbar-overlay {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        z-index: 999;
        color: var(--black);
        text-transform: lowercase;
        transition: all 0.23s ease-in-out;

        .wrap {
            background: var(--white);
        }

        ul {

            li {
                padding: 10px;
                border-bottom: var(--border-black);

                a {
                    font-size: 26px;
                    letter-spacing: -0.5px;
                    text-decoration: none;
                    display: block;
                }

            }

            li:hover a {
                text-decoration: none;
            }

            .arrow {
                display: inline-block;
                transition: all 0.23s ease-in-out;
            }

            li:hover .arrow {
                transform: translateX(4px);
            }

        }

        .contact {
            padding: 10px 80px 10px 10px;

            a {
                display: block;
                font-size: 12px;
            }
    
            a:hover {
                text-decoration: underline;
            }

        }

        .close-navbar-overlay {
            padding: 4px 0 4px 4px;
            display: block;
            color: var(--white);
            text-align: right;
            font-size: 14px;
            cursor: pointer;
        }

    }

}

@media screen and (max-width: 767px) {
    
    .navbar-home {
        top: auto;
        left: auto;
        bottom: 30px;
        right: 30px;

        .navbar-overlay {
            top: auto;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;

            ul {
                li {
                    padding: 10px;
                    border-bottom: var(--border-black);
    
                    a {
                        font-size: 26px;
                        letter-spacing: -1px;
                    }
                }
            }
    
            .contact {
                padding: 10px 80px 10px 10px;
    
                a {
                    display: block;
                    font-size: 16px;
                }
        
                a:hover {
                    text-decoration: underline;
                }
    
            }

            .close-navbar-overlay {
                padding: 0px 10px 10px 0px;
                display: block;
                color: var(--white);
                text-align: right;
                font-size: 16px;
                cursor: pointer;
            }

        }

    }

}