.navbar {
    .navbar-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: var(--side-padding);

        .site-logo {
            img {
                width: 100%;
                //max-width: 132px;
                height: 40px;
            }
        }

        .cart-icon {
            position: relative;
            z-index: 99;
        }
        
        .cart-icon a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
            text-decoration: none;

            img {
                width: 100%;
                max-width: 24px;
            }

            .counter {
                font-size: 1rem;
            }
            
        }
        .cart-icon a:hover {
            text-decoration: underline;
        }
    }
}