.preloader-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);

    .logo {
        background-color: red;
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
    }

    .outline-logo {
        svg {
            fill: transparent;
        }
    }

    .filled-logo {
        width: 0%;
        height: 100% !important;
        overflow: hidden;
        animation: widther 2s forwards;
        animation-delay: 1s;
        position: absolute;

        svg {
            display: block;
            width: 100%;
            fill: var(--white);
        }
    }

}

@keyframes widther {
    0% { width: 0%; }
    100% { width: 100%; }
}

body[data-visited="true"] {
    .preloader-overlay {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    
    .preloader-overlay {

        // svg {
        //     overflow: visible;
        // }

        // path {
        //     stroke-width: 6px;
        //     stroke-location: outside;
        //     overflow: visible;
        // }

    }

}