section.section {
    border-top: var(--big-border);
    //padding: 40px var(--side-padding);

    .wrap {
        display: grid;
        grid-template-columns: 25% 75%;
        padding: 40px var(--side-padding);
        //grid-gap: 30px;
    }

    h2 {
        font-family: var(--heading) !important;
        text-transform: uppercase;
        font-size: 62px;
        font-weight: 100;
        white-space: nowrap;
    }

    p {
        line-height: 1.2;
        font-size: 26px;
    }

}


@media screen and (max-width: 767px) {

    section.section {
        border-top: 0px;
        padding: 0 0 20px 0;

        .wrap {
            grid-template-columns: 1fr;
            padding: var(--side-padding) 0 0 0;
        }

        .left {
            border-bottom: var(--big-border);
            padding: 0 var(--side-padding) var(--side-padding);
        }

        .right {
            padding: var(--side-padding);
        }

    }
    
}